// COLORS
$primary-color: #7562E0;
$secondary-color: #282162;
$dark-color: #181824;
$back-color: #1A1A29;
$low-priority-color: #848191;
$white-color: #fff;

$dark-grey-color: #333333;
$light-grey-color: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1rem;
$big-font-size: 3rem;
$mid-font-size: 2rem;
$pre-mid-font-size:1.5rem;

$mid-transition: .5s ease;
$low-transition: 1s ease;